[submodule "themes/hermit-v2"]
	path = themes/hermit-v2
	url = https://github.com/1bl4z3r/hermit-V2
	branch = main
[submodule "themes/hugo-scroll"]
	path = themes/hugo-scroll
	url = https://github.com/zjedi/hugo-scroll.git
[submodule "themes/meghna-hugo"]
	path = themes/meghna-hugo
	url = https://github.com/themefisher/meghna-hugo
