{{ define "head" }}
	{{ if .Site.Params.wave -}}
	<script src="/js/wave_animation_professional.js" type="text/javascript"></script>
	<link rel="stylesheet" href="css/wave_animation_professional.css">
	{{- end -}}
{{ end }}

{{ define "main" }}
	{{- if (or .Site.Params.images .Site.Params.bgImg) }}
	<div class="bg-img"></div>
	{{- end }}

	<div id="spotlight" class="animated fadeIn">
		<div id="home-center">
			<h1 id="home-title">{{ .Site.Title }}</h1>
			{{- with .Site.Params.homeSubtitle }}
			<p id="home-subtitle">{{.}}</p>
			{{- end }}
			{{- with .Site.Params.socialLinks }}
			<div id="home-social">
				{{ partialCached "social-icons.html" . }}
			</div>
			{{- end }}
			<nav id="home-nav" class="site-nav">
				{{ partialCached "menu.html" . }}
			</nav>
		</div>
		<canvas id="waveCanvas"></canvas>
		<div id="home-footer">{{ partialCached "single-footer.html" . }}</div>
	</div>
{{ end }}